{{#partial "content"}}
    <script>
        $(function () {
            var domElement = document.getElementById("test-container");
            var $tc = $(domElement);
            API.fetchTest($tc.data("project"), $tc.data("job"), $tc.data("build"), $tc.data("test-id"), function (test) {
                if (test.status == "passed") {
                    test.icon = "fa-check";
                } else if (test.status == "failed") {
                    test.icon = "fa-times";
                } else if (test.status === "warning") {
                    test.icon = "fa-warning";
                } else {
                    test.icon = "fa-question";
                }
                $tc.html(Handlebars.templates["single-test-renderer"]({
                    project: $tc.data("project"),
                    job: $tc.data("job"),
                    build: $tc.data("build"),
                    test: test
                }));

                if (test.testReport && test.testReport.reportType && test.testReport.report) {
                    TestHub.applyReportHandler_after(test.testReport.reportType, domElement, test.testReport.report);
                }
            });
        });
    </script>
    <div id="test-container" data-project="{{projectName}}" data-job="{{jobName}}" data-build="{{buildName}}" data-test-id="{{testId}}">
    </div>

    <script type="text/javascript">{{precompile "single-test-renderer"}}</script>
    <script type="text/javascript">{{precompile "test-reports/report-text"}}</script>
    <script type="text/javascript">{{precompile "test-reports/report-json"}}</script>
    <script type="text/javascript">{{precompile "test-reports/report-json-node"}}</script>
{{/partial}}

{{> base}}
